/*---------CVSU IMUS CAMPUS--------*/
.vertical-line {
    width: 12px;
    height: 75px;
    background-color: #448b4f;
    margin-right: 5px;
}
.header-title h1 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}
.header-title p {
    margin: 0;
    font-size: 20px;
    font-style: bold;
}

/*---------SCORE BOARD--------*/
.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}
.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
}
.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}
.progress-blue .progress-left .progress-bar {
    animation: loading-2 linear forwards 1s;
}
.progress-red .progress-right .progress-bar {
    animation: loading-3 linear forwards 1s;
}
.progress-green .progress-left .progress-bar {
    animation: loading-4 linear forwards 1s;
}
.progress-yellow .progress-right .progress-bar {
    animation: loading-5 linear forwards 1s;
}
.rounded-lg {
    border-radius: 1rem;
}
.text-gray {
    color: #aaa;
}
div.h4 {
    line-height: 1rem;
}
h1 {
    color: black;
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(80deg);
        transform: rotate(80deg);
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

/*---------YOUR TOTAL SCORE--------*/
.col-lg-12 {
    margin-bottom: 5rem;
    text-align: center;
}
.display-4 {
    font-size: 3rem;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-color: #00A86B;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #00A86B;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}
.card-back {
    background-color: #1F75FE;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #1F75FE;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/*---------METRICS--------*/
.table-bordered td, .table-bordered th {
    border-color: green;
}
td{
    color: #1F75FE;
}

/*---------EXAM SHEET--------*/
.pngtree-test-icon-png-image-65 {
    position: absolute;
    top: 1128px;
    left: 145px;
    width: 51px;
    height: 44px;
    object-fit: cover;
}
.view-exam-sheet {
    position: absolute;
    top: 1137px;
    left: 200px;
    font-family: var(--font-inter);
    color: green;
    width: 224px;
    height: 45px;
    cursor: pointer;
}

/*---------REQUIREMENTS--------*/
 section {
    padding: 20px;
}
.enroll{
    color: gray;
}










